/*
Site Name: LogiCon Connect EU
Cycle: BS4
Office: USA
Year: 2022
URL: http://logiconconnect.wbresearch.com
----------------------------------------------------------------*/

:root {
  --spacer-sm: 0.5em;
  --spacer-md: 1em;
  --fs-300: 0.75em;
  --fs-400: 0.85em;
  --fs-500: 1em;
  --br-xs: 0.05em;
  --br-sm: 0.25em;

  /* Start Template */
  --event-neutral-100: #fff;
  --event-neutral-200: #ececec;
  --event-neutral-300: #bfbfbf;
  --event-neutral-500: #7f7f7f;
  --event-neutral-700: #404040;
  --event-neutral-900: #333;
  --event-color-accent: #000000;
}

.front .header-bottom {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  background: var(--bg-full, transparent);
  padding: var(--bg-full-p-y, inherit) 0;
}

.front .header-bottom.on-scroll {
  background: var(--bg-full, var(--event-neutral-100));
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

/* MOBILE - Setting Hambuger and logo to flex and styling */
.front .header-bottom .navbar-header {
  display: flex;
  flex-flow: row;
  width: 100%;
  justify-content: space-between;

  align-items: center;
  /* Make Logo and Hamburger White */
  filter: brightness(0) invert(1);
  -webkit-filter: brightness(0) invert(1);
}

.front .header-bottom.on-scroll .navbar-header {
  /* Turn Logo and Hamburger Back to original Color */
  filter: none;
  -webkit-filter: none;
}

.front .header-bottom .navbar-header .navbar-brand {
  order: 1;
}
.front .header-bottom .navbar-header .navbar-brand img {
  max-width: var(--logo, 165px);
}

.front .header-bottom .navbar-header .navbar-toggle {
  order: 2;
  /* Hamburger Styling */
  height: 45px;
  width: 45px;
  border-radius: var(--br-sm);
  background: transparent;
  border: 1px double var(--accent, var(--event-neutral-900));
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}
.front .header-bottom .navbar-header .navbar-toggle .icon-bar {
  outline: 1px solid var(--accent, var(--event-neutral-900));
  width: 100%;
}

/* Styling Navigation after Hamburger is clicked*/
.front .header-bottom .navbar-collapse .navbar-nav {
  background-color: var(--bg-nav, var(--event-neutral-200));
  padding: var(--spacer-md);
  border-radius: var(--br, var(--br-sm));
  text-align: center;
}
.front .header-bottom .navbar-collapse[class*='collaps'] .navbar-nav .dropdown-menu.show {
  display: flex;
  flex-flow: column;
  text-align: inherit;
}

/* Color / Typography */

.front .header-bottom .navbar-collapse[class*='collaps'] li a,
.front .header-bottom.on-scroll .navbar-collapse[class*='collaps'] li a {
  color: var(--fg, var(--event-neutral-900));
}

.front .header-bottom .navbar-collapse[class*='collaps'] li a {
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-decoration: none;
  font-size: var(--fs, var(--fs-500));
  font-family: var(--ff, var(--event-font-primary));
}

.front .header-bottom.on-scroll .navbar-collapse[class*='collaps'] li:hover > a,
.front .header-bottom .navbar-collapse[class*='collaps'] li:hover > a,
.front .header-bottom .navbar-collapse[class*='collaps'] li:hover a:hover,
.front .header-bottom .navbar-collapse[class*='collaps'] li a:hover {
  color: var(--fg-tabs, var(--event-neutral-100));
}

.front .header-bottom .navbar-collapse[class*='collaps'] li:hover,
.front .header-bottom .navbar-collapse[class*='collaps'] ul li a:hover,
.front .header-bottom .navbar-collapse[class*='collaps'] li > a[aria-expanded='true'] {
  background: var(--bg-tabs, var(--event-neutral-500));
  border-radius: var(--br, var(--br-sm));
  color: var(--fg-tabs, var(--event-neutral-100));
}

.front .header-bottom .navbar-collapse[class*='collaps'] .dropdown-menu li:nth-child(even) {
  background: var(--event-neutral-200);
}

.front .header-bottom .navbar-collapse[class*='collaps'] li a {
  padding: var(--bg-tabs-p-y, var(--spacer-md)) var(--bg-tabs-p-x, var(--spacer-md));
}

/* Styling CTA Button */
.front .header-bottom .navbar-collapse[class*='collaps'] .navbar-nav > li:last-of-type a {
  background-color: var(--btn-bg, var(--event-neutral-900));
  color: var(--btn-fg, var(--event-neutral-100));
  padding: var(--bg-tabs-p-y, var(--spacer-md)) var(--bg-tabs-p-x, calc(var(--spacer-md) * 3));
  border-radius: var(--br, var(--br-sm));
}
.front .header-bottom .navbar-collapse[class*='collaps'] .navbar-nav > li:last-of-type a:hover {
  background-color: var(--btn-bg-hover, var(--event-neutral-700));
  color: var(--btn-fg-hover, var(--event-neutral-100));
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* Hide Hamburger */
  .front .header-bottom .navbar-header .navbar-toggle {
    display: none;
  }
  .collapse:not(.show) {
    display: block;
  }

  /* Subnav on Hover - Desktop */
  .front .header-bottom .navbar-collapse .navbar-nav .dropdown-menu {
    position: absolute;
    width: max-content;
  }

  .dropdown:hover > .dropdown-menu {
    display: block;
    margin-top: 0;
  }

  .dropdown > .dropdown-toggle:active {
    pointer-events: none;
  }

  /*  Adding Flex Functionality to desktop view*/
  .front .header-bottom .navbar {
    flex-flow: row;
  }
  .front .header-bottom .navbar-header {
    width: inherit;
  }
  .front .header-bottom .navbar-collapse .navbar-nav {
    background: transparent;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  /* Update Font sizes on scroll */
  .front .header-bottom.on-scroll .navbar-collapse .navbar-nav li a {
    font-size: var(--fs, clamp(0.625rem, -0.0417rem + 1.3889vw, 1rem));
  }

  /* Links Color */
  .front .header-bottom .navbar-collapse[class*='collaps'] > ul > li > a {
    color: var(--fg-rev, var(--event-neutral-100));
  }
  .front .header-bottom.on-scroll .navbar-collapse[class*='collaps'] > ul > li > a {
    color: var(--fg-rev-scroll, var(--event-neutral-900));
  }

  /* Button Styling  */
  .front .header-bottom .navbar-collapse[class*='collaps'] .navbar-nav > li:last-of-type a {
    padding: var(--bg-tabs-p-y, calc(var(--spacer-sm) * 1.5)) var(--bg-tabs-p-x, calc(var(--spacer-md) * 1.75));
  }

  /* Styling Hiding on Scroll */
  .front .header-bottom .navbar-header {
    max-width: 0px;
    transform: translateY(-100vh);
    transition: all 0.2s ease-out;
  }
  .front .header-bottom.on-scroll .navbar-header {
    max-width: inherit;
    transform: translateY(0);
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .front .header-bottom .navbar-collapse .navbar-nav > li > a {
    font-size: var(--fs, var(--fs-500));
  }
}
